.field {
  display: flex;
  align-items: center;
  font-size: 13px;
  border: 1px solid rgb(107, 0, 169);
  border-radius: 4px;
  padding: 9px 5px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
}

.field label {
  flex: 1;
  cursor: pointer;
  padding-left: 18px;
}
